<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head'); -%>
    </head>

    <body class="bg-secondary">
        <!-- Navbar -->
        <%- include('partials/header'); -%>
        <!-- Page Heading -->
        <div class="container">
            <div class="col-lg-12 col-md-12 mx-auto py-4 text-center">
                <h2 class="fw-light text-white"><b>About Us</b></h2>
                <hr class="text-white">
            </div>
        </div>

        <!-- Image -->
        <div class="container">
            <img src="../public/images/record.jpg" class="img-fluid" alt="Record Store">
        </div>

        <!-- Paragraph -->
        <br><br>
        <div class="container">
            <p class="center">Here at RecordScratch, we aim to provide a massive variety of albums for purchase, spanning across a wide number of musicians and genres.</p>
        </div>

        <script type="module">
            import { navLoad } from "/javascripts/partials/nav.js"      
        </script>

    </body>
</html>