<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head'); -%>
    </head>

    <body class="bg-secondary">
        <!-- Navbar -->
        <%- include('partials/header'); -%>

        <div class="container">
            <!-- Page Heading -->
            <section>
                <div class="col-lg-12 col-md-12 mx-auto py-4 text-center">
                    <h2 class="fw-light text-white"><b>About Us</b></h2>
                    <hr class="text-white">
                </div>
            </section>

            <!-- Image -->
            <section>
                <div class="text-center">
                    <img src="/images/record.jpg" class="rounded" alt="Record Store">
                </div>
            </section>

            <br><br>

            <!-- Paragraph -->
            <section>
                <div class="text-center d-flex justify-content-center">
                    <div class="card" style="width:50%">
                        <div class="card-header">About Us</div>
                        <div class="card-body">
                            <p class="center">Here at RecordScratch, we aim to provide a massive variety of albums for purchase, spanning across a wide number of musicians and genres.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script type="module">
            import { navLoad } from "/javascripts/partials/nav.js"      
        </script>

    </body>
</html>