<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head'); -%>
        <title>Shopping Cart</title>
    </head>
    <body class="bg-secondary text-white">
        <!-- Navbar -->
        <%- include('partials/header'); -%>
        
        <!-- Cart Section -->
        <div class="container">
            <!-- Text Heading -->
            <section class="text-center container">
                <div class="row py-lg-5">
                  <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Shopping Cart</h1>
                  </div>
                </div>
            </section>
            <!-- Cart Items -->
            <div id="ContainerCartList">
            </div>
            <div id="ContainerCartTotal">
            </div>
            <!-- Order Button -->
            <div id="ContainerOrderButtonRow" class="row">
                <div class="col-10"></div>
                <div class="col-2" id="ContainerOrderButton"></div>
            </div>
        </div>

        <!------------------------- JavaScript and CSS Segment ------------------------->
        <script defer type="module" src="javascripts/page/cart.js"></script>

        <script defer type="module"> 
            import { navLoad } from "/javascripts/partials/nav.js";
        </script>
    <body>
</html>