<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); -%>
  </head>
  
  <body>
    <!-- Navbar -->
    
    <%- include('partials/header'); -%>
    <div class="bg-dark">
      <div class="container">
        <div class="row">
          <h1 class="display-1 text-white text-center"> Vinyl Records </h1>
        </div>
        <!-- Filters for products list -->
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <div class="form">
              <select class="form-select" id="FilterArtist">
                <option value="">Select Artist</option>
              </select>
            </div>
          </div>
          
          <div class="col-auto">
            <div class="form">
              <select class="form-select" id="FilterGenre">
                <option value="">Select Genre</option>
              </select>
            </div>
          </div>

          <div class="col-auto">
            <div class="form">
              <select class="form-select" id="FilterLabel">
                <option value="">Select Label</option>
              </select>
            </div>
          </div>
          
          <div class="col-auto">
            <button onclick="getProductsFilteredBy()" class="btn btn-primary mb-3">Filter</button>
          </div>
        </div>
          <!-- Products -->
        <div class="card" id="ProductsContainer">
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="bg-secondary py-3 mt-auto text-white footer">
      <%- include('partials/footer'); -%>
    </footer>
    
    <!------------------------- JavaScript Segment ------------------------->
    <script defer type="module" src="javascripts/page/index.js"></script>
    
    <script defer type="module">
      import getProductsFilteredBy from "/javascripts/eventHandler/eventFilterProducts.js";
      // Have module function accessible globally
      window.getProductsFilteredBy = getProductsFilteredBy;
    </script>
  </body>
</html>
