<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head'); -%>
        <title>Login Page</title>
    </head>
    <body class="bg-secondary text-white">
        <!-- Navbar -->
        <%- include('partials/header'); -%>
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="py-lg-5">
                        <!-- Login Form -->
                        <div class="card bg-primary p-4">
                            <div class="card-title">
                                <!-- Login Title -->
                                <div class="text-center pb-2">
                                    <svg xmlns='http://www.w3.org/2000/svg' width='70' height='80' fill='currentColor' class='bi bi-person-circle' viewBox='0 0 16 16'>
                                        <path d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'/>
                                        <path fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z'/>
                                    </svg>
                                    <h1 class="fw-light">Login</h1>
                                </div>
                            </div>
                            <div class="card-body pt-1">
                                <form id="form-signin">
                                    <!-- Username -->
                                    <div class="form-outline mb-4">
                                        <!-- <label for="username-input">Username</label> -->
                                        <input type="text" name="username-input" id="username" class="form-control" placeholder="Username" required>
                                    </div>
                                    
                                    <!-- Password -->
                                    <div class="form-outline mb-4">
                                        <!-- <label for="password-input">Password</label> -->
                                        <input type="password" id="password" class="form-control" name="password-input" placeholder="Password" required>
                                    </div>
                                    
                                    <!-- Submit Button -->
                                    <div class="form-outline mb-4">
                                        <button class="btn btn-lg btn-success btn-block" style="width:100%" type="submit">Login</button>
                                    </div>
                                    <hr>
                                    <!-- No Account / Signup-->
                                    <div class="form-outline mb-4">
                                        <h5>Don't have an account? <a class="text-white" href="/signup">Sign Up</a></h5>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <script type="module">
            import { navLoad } from "/javascripts/partials/nav.js"
            
            let myform = document.getElementById("form-signin"); // get the form
            myform.addEventListener('submit', function(e) {
                e.preventDefault();
                let uname = document.getElementById("username").value;
                let pass = document.getElementById("password").value;

                fetch("http://127.0.0.1:8000/api/token/", {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({username: uname, password: pass})
                })
                .then(response=>response.json())
                    .then(data=>{
                        if('access' in data){
                            let accessToken = data['access'];
                            let refreshToken = data['refresh'];
                            localStorage.setItem("access", accessToken);
                            localStorage.setItem("refresh", refreshToken);
                            window.location.href = "/";
                        }
                        else {
                            alert("username or password invalid");
                        }
                    });
            });

        </script>
    <body>
</html>