<!DOCTYPE html>
<html>
    <!-- Order Page -->
    <head>
        <%- include('partials/head'); -%>
        <title>Login Page</title>
    </head>
    <body>

    
    <script type="module">
        import { navLoad } from "/javascripts/partials/nav.js"
    </script>
    </body>
</html>