<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>

  <body class="bg-secondary">
    <!-- Navbar -->
    <%- include('partials/header'); -%>
    <div class="container">
      <div class="col-lg-12 col-md-12 mx-auto py-4 text-center">
        <h2 class="fw-light text-white"><b>Your Order</b></h2>
        <hr class="text-white">
      </div>

      <div class="row">
        <div class="col-md-4 order-md-3 mb-3">
          <!-- Section: Order Cart -->
          <section>
            <!-- Cart Title -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-light">Your cart</span>
            </h4>
            <!-- List of Cart Items -->
            <ul class="list-group mb-3">
              <div id="ContainerOrderCart">
              </div>
              <li class="list-group-item d-flex justify-content-between">
                  <div id="ContainerOrderCartTotal"></div>
              </li>
            </ul>
          </section>
        </div>

        <!-- User and Payment Section -->
        <div class="col-md-8 order-md-1">
          <!-- User Details Section -->
          <section>
            <h4 class="mb-3 text-white">User Details</h4>
              <div class="row">
                <!-- Name -->
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-header">Name</div>
                        <div class="card-body">
                            <div id="ContainerName"></div>
                        </div>
                    </div>
                </div>

                <!-- Email Address -->
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-header">Email Address</div>
                        <div class="card-body">
                            <div id="ContainerEmail"></div>
                        </div>
                    </div>
                </div>
              </div>

              <!-- Address -->
              <div class="mb-3">
                  <div class="card">
                      <div class="card-header">Address</div>
                      <div class="card-body">
                          <div id="ContainerAddress"></div>
                      </div>
                  </div>
              </div>

              <!-- Phone Number -->
              <div class="mb-3">
                  <div class="card">
                      <div class="card-header">Phone Number</div>
                      <div class="card-body">
                          <div id="ContainerPhone">
                      </div>
                  </div>
              </div>
          </section>
          <hr>
          <br>

          <!-- Dummy Payment Section -->
          <section class="text-white">
            <h4 class="mb-3">Payment Method</h4>
            <form class="needs-validation" novalidate>
              <!-- Payment Method Options -->
              <div class="d-block my-3">
                
                <!-- Credit Card Option -->
                <div class="custom-control custom-radio">
                  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                
                <!-- Debit Card Option -->
                <div class="custom-control custom-radio">
                  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="debit">Debit card</label>
                </div>
                
                <!-- Paypal Card Option -->
                <div class="custom-control custom-radio">
                  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal">Paypal</label>
                </div>
              </div>
              
              <!-- Payment Details -->
              <div class="row">
                <!-- Card Name -->
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-white">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    <div class="card bg-danger text-white">
                      Name on card is required
                    </div>
                  </div>
                </div>
                
                <!-- Card Number -->
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required>
                  <div class="invalid-feedback">
                    <div class="card bg-danger text-white">
                      Credit card number is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!--  Card Expiration Date -->
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                  <div class="invalid-feedback">
                    <div class="card bg-danger text-white">
                      Expiration date required
                    </div>
                  </div>
                </div>

                <!-- Card CVV Number -->
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    <div class="card bg-danger text-white">
                      Security code required
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Purchase Now</button>
            </form>
          </section>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer'); -%>
    
    <!------------------------- JavaScript Segment ------------------------->
    <script type="module" src="javascripts/page/order.js"></script>
  
    <script defer type="module">
      import { createOrder } from "/javascripts/eventHandler/eventCreateOrder.js";

      // Bootstrap starter JavaScript for disabling form submissions if there are invalid fields
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            // Check if payment form is 'valid'
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            } else {
              event.preventDefault();
              // If valid, create order and redirect to homepage
              createOrder();
            };
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    </script>

    <script type="module">
      import { navLoad } from "/javascripts/partials/nav.js"      
    </script>

  </body>
</html>