<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head'); -%>
    </head>
    <body>
        <!-- Navbar -->
        <%- include('partials/header'); -%>
        <!-- HTML container for displaying the properties of a given product on the page -->
        <div class="ProductContainer">
            <div id="ProductTitleContainer" class="row">
                <div id="ProductImageContainer" class="col-4">
                </div>
                <div id="ProductDescContainer" class="col-4">
                </div>
                <div id="ProductPriceBuyContainer" class="col-4">
                </div>
            </div>
        </div>


        <!-- JavaScript Section-->
        <!-- Loads functionality for fetching product id and adding it to URL -->
        <script type="module" src="../javascripts/page/product.js">            
        </script>
        <script type="module">
            import { navLoad } from "/javascripts/partials/nav.js"
        </script>

    </body>
</html>