<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head'); -%>
    </head>
    <body>
        <div class="ProductContainer">
            <div id="ProductTitleContainer" class="row">
                <div id="ProductImageContainer" class="col-4">
                </div>
                <div id="ProductDescContainer" class="col-4">
                </div>
                <div id="ProductPriceBuyContainer" class="col-4">
                </div>
            </div>
        </div>


        <!-- JavaScript Section-->
        <script>
            // Page Elements
            const containerProduct = document.getElementById("ProductContainer");
            const containerProductTitle = document.getElementById("ProductTitleContainer");
            const containerProductImage = document.getElementById("ProductImageContainer");
            const containerProductDesc = document.getElementById("ProductDescContainer");
            const containerProductPriceBuy = document.getElementById("ProductPriceBuyContainer");
            
            // Start Product Page
            function init() {
                displayProduct();
            }
            
            async function getProductData(product_id=1){
                const requestProduct = "http://127.0.0.1:8000/products?id=" + product_id;
                response = await fetch(requestProduct);
                data = await response.json();
                return data;
            };
            
            // TODO:
            function displayProduct() {
                oPromise = getProductData();
                oPromise.then(oProduct => {
                    if (oProduct.length === 1) {
                        // Get product from promise.json()
                        oProduct = oProduct[0];

                        // 1. Image in top left corner
                        let elProductImage = document.createElement('img');
                        elProductImage.className = "img-thumbnail";
                        elProductImage.src = oProduct.product_image;
                        containerProductImage.appendChild(elProductImage);

                        // 2. Title Description
                        const containerTitleDesc = document.createElement("div");
                        
                        // 2a. Product Name
                        let elProductName = document.createElement("h3");
                        elProductName.innerHTML = oProduct.name;
                        containerTitleDesc.appendChild(elProductName);
                        
                        // 2b. Product Artist
                        let elProductArtist = document.createElement("h5");
                        elProductArtist.innerHTML = "By " + oProduct.artist;
                        containerTitleDesc.appendChild(elProductArtist);

                        // 2c. Product Label
                        let elProductLabel = document.createElement("p");
                        elProductLabel.innerHTML = "Label: " + oProduct.label;
                        containerTitleDesc.appendChild(elProductLabel);
                    
                        // 2d. Product Genre
                        let elProductGenre = document.createElement("p");
                        elProductGenre.innerHTML = "Genre: " + oProduct.genre;
                        containerTitleDesc.appendChild(elProductGenre);

                        // 2e. Add Product Title Description to parent
                        containerProductDesc.appendChild(containerTitleDesc);

                        // 3. Price and Buy Button
                        
                        // 3a. Price
                        const elProductPrice = document.createElement("h1");
                        elProductPrice.innerHTML = "€" + oProduct.price + "<br>";
                        containerProductPriceBuy.appendChild(elProductPrice);

                        // 3b. Buy
                        const elButtonBuy = document.createElement("button");
                        elButtonBuy.className = "btn btn-outline-primary btn-large text-center";
                        elButtonBuy.type = "submit";
                        elButtonBuy.innerHTML = "Add to Cart";
                        elButtonBuy.onclick = function () {
                            let access = localStorage.getItem("access")
                            console.log("HERE")
                            if(access){
                                fetch("http://127.0.0.1:8000/add/",
                                {
                                    headers: {
                                        "Accept": "application/json",
                                        "Content-Type": "application/json",
                                        "Authorization": "Bearer "+access
                                    },
                                    method: "POST",
                                    body: JSON.stringify({"product_id": oProduct.id})
                                })
                                .then(response => response.json())
                                .then(data => {
                                    alert("Item " + data + " has been added to your cart!")
                                })
                                }
                            else (
                                //the user is not logged in,redirect them to the login page
                                window.location.href = "/login"
                            )
                        }
                        containerProductPriceBuy.appendChild(elButtonBuy);

                    }
                });
            }

            init();
            
        </script>

    </body>
</html>