<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head'); -%>
    </head>
    <body>
        <div class="ProductContainer">
            <div id="ProductTitleContainer" class="row">
                <div id="ProductImageContainer" class="col-4">
                </div>
                <div id="ProductDescContainer" class="col-4">
                </div>
                <div id="ProductPriceBuyContainer" class="col-4">
                </div>
            </div>
        </div>


        <!-- JavaScript Section-->
        <script type="module" src="../javascripts/page/product.js">            
        </script>

    </body>
</html>