<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head'); -%>
    </head>
    <body class="bg-secondary text-white">
        <!-- Navbar -->
        <%- include('partials/header'); -%>
        <!-- HTML container for displaying the properties of a given product on the page -->
        <div class="ProductContainer">
            <div class="container">
                <div id="ProductTitleContainer" class="row py-lg-5">
                    <div id="ProductImageContainer" class="col-4">
                    </div>
                    <div id="ProductDescContainer" class="col-4">
                    </div>
                    <div id="ProductPriceBuyContainer" class="col-4">
                    </div>
                </div>
                <hr>
                <div class="SongsContainer">
                    <h3 class="fw-light">Songs</h3>
                    <table id="SongsTable" class="table table-striped table-hover table-light"></table>
                </div>
            </div>
        </div>


        <!------------------------- JavaScript Segment ------------------------->
        <!-- Loads functionality for fetching product id and adding it to URL -->
        <script type="module" src="../javascripts/page/product.js">            
        </script>
        <script type="module">
            import { navLoad } from "/javascripts/partials/nav.js"
        </script>

    </body>
</html>