<html>
    <head>
        <title>Shopping Cart</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Shopping Cart</h1>
        <div>
            
        </div>
        <script>

        </script>
    <body>
</html>