<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <!-- Nav Brand Image -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="https://placeholder.pics/svg/150x50/1500FF-40E4FF/FFFCFA/RecordScratch" alt="RecordScratch Banner Image"></a>
        </div>
        
        <!-- Page Links on Nav -->
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link link-primary" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-primary" href="/">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-primary" href="/">Contact</a>
            </li>
        </ul>
        
        <!-- Account and Cart Nav Items -->
        <ul id="navList" class="navbar-right d-flex mb-0 list-unstyled"></ul>
    </div>
</nav>